package user

import (
	"github.com/wadzee/personal-website/model"
	"github.com/wadzee/personal-website/view/layout"
	"github.com/wadzee/personal-website/view/components"
)

templ Show(user model.User) {
	@layout.Base() {
		<h1>Hi { user.Email }! Welcome</h1>
		@components.Input(components.InputProps{
			Typ:  "email",
			Name: "radzi@radziramli.com",
		})
	}
}
