package layout

templ Base() {
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>This is a test</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    this is from base layout
    {children...}
    <script src="" async defer></script>
  </body>
</html>
}